// --- DECLARACAO DE ESPACO NA PILHA ---

// Reserva gp[0] para 'N'
pushi 0
// Reserva gp[1] para 'I'
pushi 0
// Reserva gp[2] para 'FAT'
pushi 0
// --- INICIALIZACAO DE ARRAYS ---


start
pushs "Introduza um numero inteiro positivo:"
writes
writeln
read
atoi
// Guardar N
storeg 0
pushi 1
// Guardar FAT
storeg 2
pushi 1
storeg 1
DOSTART10:
pushg 1
// Ler N
pushg 0
sup
not
jz DOEND10
// Ler FAT
pushg 2
// Ler I
pushg 1
mul
// Guardar FAT
storeg 2
pushg 1
pushi 1
add
storeg 1
jump DOSTART10
DOEND10:
pushs "Fatorial de "
writes
// Ler N
pushg 0
writei
pushs ": "
writes
// Ler FAT
pushg 2
writei
writeln
stop
