// --- DECLARACAO DE ESPACO NA PILHA ---

// Reserva gp[0] para 'NUM'
pushi 0
// Reserva gp[1] para 'BASE'
pushi 0
// Reserva gp[2] para 'RESULT'
pushi 0
// Reserva gp[3] para 'CONVRT'
pushi 0
// Reserva gp[4] para 'N'
pushi 0
// Reserva gp[5] para 'B'
pushi 0
// Reserva gp[6] para 'QUOT'
pushi 0
// Reserva gp[7] para 'REM'
pushi 0
// Reserva gp[8] para 'POT'
pushi 0
// Reserva gp[9] para 'VAL'
pushi 0
// --- INICIALIZACAO DE ARRAYS ---


start
pushs "INTRODUZA UM NÚMERO DECIMAL INTEIRO:"
writes
writeln
read
atoi
// Guardar NUM
storeg 0
pushs "NÚMERO: "
writes
// Ler NUM
pushg 0
writei
writeln
pushi 2
storeg 1
DOSTART10:
pushg 1
pushi 9
sup
not
jz DOEND10
// Ler NUM
pushg 0
// Argumento -> N
storeg 4
// Ler BASE
pushg 1
// Argumento -> B
storeg 5
pusha CONVRT
call
// Retorno de CONVRT
pushg 3
// Guardar RESULT
storeg 2
pushs "BASE"
writes
// Ler BASE
pushg 1
writei
pushs ":"
writes
// Ler RESULT
pushg 2
writei
writeln
pushg 1
pushi 1
add
storeg 1
jump DOSTART10
DOEND10:
stop

// --- SUBPROGRAMAS ---

CONVRT:
pushi 0
// Guardar VAL
storeg 9
pushi 1
// Guardar POT
storeg 8
// Ler N
pushg 4
// Guardar QUOT
storeg 6
L20:
// Ler QUOT
pushg 6
pushi 0
sup
jz ELSE0
// Ler QUOT
pushg 6
// Ler B
pushg 5
mod
// Guardar REM
storeg 7
// Ler VAL
pushg 9
// Ler REM
pushg 7
// Ler POT
pushg 8
mul
add
// Guardar VAL
storeg 9
// Ler QUOT
pushg 6
// Ler B
pushg 5
div
// Guardar QUOT
storeg 6
// Ler POT
pushg 8
pushi 10
mul
// Guardar POT
storeg 8
jump L20
jump ENDIF0
ELSE0:
ENDIF0:
// Ler VAL
pushg 9
// Guardar CONVRT
storeg 3
return
