// --- DECLARACAO DE ESPACO NA PILHA ---

// Reserva gp[0] para 'NUM'
pushi 0
// Reserva gp[1] para 'I'
pushi 0
// Reserva gp[2] para 'ISPRIM'
pushi 0
// --- INICIALIZACAO DE ARRAYS ---


start
pushs "Introduza um numero inteiro positivo:"
writes
writeln
read
atoi
// Guardar NUM
storeg 0
pushi 1
// Guardar ISPRIM
storeg 2
pushi 2
// Guardar I
storeg 1
L20:
// Ler I
pushg 1
// Ler NUM
pushg 0
pushi 2
div
infeq
// Ler ISPRIM
pushg 2
and
jz ELSE0
// Ler NUM
pushg 0
// Ler I
pushg 1
mod
pushi 0
equal
jz ELSE1
pushi 0
// Guardar ISPRIM
storeg 2
jump ENDIF1
ELSE1:
ENDIF1:
// Ler I
pushg 1
pushi 1
add
// Guardar I
storeg 1
jump L20
jump ENDIF0
ELSE0:
ENDIF0:
// Ler ISPRIM
pushg 2
jz ELSE2
// Ler NUM
pushg 0
writei
pushs " é um numero primo"
writes
writeln
jump ENDIF2
ELSE2:
// Ler NUM
pushg 0
writei
pushs " não é um numero primo"
writes
writeln
ENDIF2:
stop
