// --- DECLARACAO DE ESPACO NA PILHA ---

// Reserva gp[0] para 'MAINNUMS'
pushi 0
// Reserva gp[1] para 'MAINI'
pushi 0
// Reserva gp[2] para 'MAINSOMA'
pushi 0
// Reserva gp[3] para 'MAINMAINNUMS'
pushi 0
// --- INICIALIZACAO DE ARRAYS ---

// Aloca Array 'MAINNUMS'
alloc 5
storeg 0
// Aloca Array 'MAINMAINNUMS'
alloc 50
storeg 3

start
pushi 0
// Guardar MAINSOMA
storeg 4
pushs "Introduza 5 números inteiros, um de cada vez:"
writes
writeln
pushi 1
storeg 1
DOSTART30:
pushg 1
pushi 5
sup
not
jz DOEND30
pushg 3
// Ler MAINI
pushg 1
pushi 1
sub
read
atoi
storen
// Ler MAINSOMA
pushg 2
// Ler array NUMS
pushg 0
// Ler MAINI
pushg 1
pushi 1
sub
loadn
add
// Guardar MAINSOMA
storeg 4
pushg 1
pushi 1
add
storeg 1
jump DOSTART30
DOEND30:
pushs "A soma dos números é: "
writes
// Ler MAINSOMA
pushg 2
writei
writeln
stop
