// --- DECLARACAO DE VARIAVEIS ---

// Variavel 'N' (Endereco 0)
pushi 0
// Variavel 'I' (Endereco 1)
pushi 0
// Variavel 'FAT' (Endereco 2)
pushi 0

start
pushs "Introduza um numero inteiro positivo:"
writes
writeln
read
atoi
storeg 0
pushi 1
// Atribuir a FAT
storeg 2
pushi 1
// Inicia DO loop (I)
storeg 1
DOSTART10:
pushg 1
// Ler N
pushg 0
sup
not
// Sai se ultrapassar o fim
jz DOEND10
// Ler FAT
pushg 2
// Ler I
pushg 1
mul
// Atribuir a FAT
storeg 2
L10:
// --- Fim do DO I ---

pushg 1
pushi 1
add
storeg 1
jump DOSTART10
DOEND10:
pushs "Fatorial de "
writes
// Ler N
pushg 0
writei
pushs ": "
writes
// Ler FAT
pushg 2
writei
writeln
stop
