// --- DECLARACAO DE ESPACO NA PILHA ---

// Reserva gp[0] para 'NUMS'
pushi 0
// Reserva gp[1] para 'I'
pushi 0
// Reserva gp[2] para 'SOMA'
pushi 0
// --- INICIALIZACAO DE ARRAYS ---

// Aloca Array 'NUMS'
alloc 5
storeg 0

start
pushi 0
// Guardar SOMA
storeg 2
pushs "Introduza 5 números inteiros, um de cada vez:"
writes
writeln
pushi 1
storeg 1
DOSTART30:
pushg 1
pushi 5
sup
not
jz DOEND30
pushg 0
// Ler I
pushg 1
pushi 1
sub
read
atoi
storen
// Ler SOMA
pushg 2
// Ler array NUMS
pushg 0
// Ler I
pushg 1
pushi 1
sub
loadn
add
// Guardar SOMA
storeg 2
L30:
pushg 1
pushi 1
add
storeg 1
jump DOSTART30
DOEND30:
pushs "A soma dos números é: "
writes
// Ler SOMA
pushg 2
writei
writeln
stop
